
//- Although this isn’t strictly a help template, it uses the same data and helpers.
template(name='topic_header')
  if variant
    p Topic:
      em #{unitTitle}
      span --- 
      a(href='/course/#{courseName}/exerciseSet/#{variant}')  #{variant} exercises for #{courseName}
  if isSeminarTutor
    unless isGrading
      .right
        button#grade.btn.waves-effect.grey grade
    


template(name="help_with_this_exercise")
  
  h4 Help with this exercise
  p See the 
    a(href="https://logic-1.butterfill.com/logic-ex-guide.html", target="_blank") zoxiy guide.
    if slidesOrReadingForThisUnit
      if slidesForThisUnit
        span Review the 
        a(href="#{slidesForThisUnit}", target="_blank") lecture slides on 
          em #{unitTitle}
        if readingForThisUnit
          span  and read 
        else
          span .
      else
        if readingForThisUnit
          span Read 
      if readingForThisUnit
        span  #{readingForThisUnit}.


template(name="ask_for_help")
  if Template.subscriptionsReady 
    each helpRequests
      .row: .col.s12: .right 
        span You asked for help #{helpRequestDate}
        span (‘#{question}’)
        if isHelpRequestAnswered
          span #{answererName} answered #{helpAnswerDate}: #{answer}
        else
          span There is no answer yet.
  

  button#request-help.btn.waves-effect.grey ask for help
   i.material-icons.right live_help
  span &nbsp;
  button.showCorrectAnswer.btn.waves-effect.grey show an answer

template(name="requestHelpModal")
  if slidesForThisUnit
    p 
      input#reviewedLectureSlides(type='checkbox', name='reviewedLectureSlides')
      label(for='reviewedLectureSlides') I have reviewed the 
        a(href="#{slidesForThisUnit}", target="_blank") lecture slides on 
          em #{unitTitle}
  if readingForThisUnit
    p 
      input#readTextbook(type='checkbox', name='readTextbook')
      label(for='readTextbook') I have read #{readingForThisUnit}
  .input-field
    textarea#description.materialize-textarea(name='description')
    label(for='description') What are you stuck on?
  p: em Requests for help may go unanswered outside of the weeks in which lectures are given for your course.

template(name="showCorrectAnswerModal")
  p  #{displayAnswer}
  each answers
    p #{type}
    p #{content.proof}
    +Template.dynamic(template=displayAnswer)
