template(name='courses')
  h2 Select a course
  ul.collection
    each courses
      li.collection-item
        a(href="/course/#{name}") #{name}
        span --- #{description}

template(name='exerciseSetsForCourse')
  p #{courseName} --- #{courseDescription}
  h2 Select a variant
  ul.collection
    each exerciseSets
      li.collection-item
        a(href="/course/#{courseName}/exercise-set/#{variant}") #{variant}
        span --- #{description}
  

template(name='exerciseSet')
  p #{courseName} --- #{courseDescription}
  
  h2 #{exerciseSetName}
  p #{exerciseSetDescription}
  if isAlreadyFollowing
    a#unfollowDialog.btn.waves-effect.grey stop following ‘#{exerciseSetName}’
  else
    a#follow.btn.waves-effect.grey follow ‘#{exerciseSetName}’

  each lectures
    h4 #{name}
    p
      span [
      a(href="#{slides}", target="_blank") slides
      span ] [
      a(href="#{handout}", target="_blank") handout
      span ] 
    each units
      h5 #{name}
      if reading
        p Reading: #{reading}
      p 
        span [
        a(href="#{slides}", target="_blank") slides
        span ] 
      ul.collection
      each exercises
        li
          a(href="#{link}?variant=#{exerciseSetName}&courseName=#{courseName}") #{name}
          if isSubmitted
            span.grey-text [submitted #{dateSubmitted}]
          else
            span.red-text [todo]

