template(name='courses')
  h2 Select a course
  if Template.subscriptionsReady 
    ul.collection
      each courses
        li.collection-item
          a(href="/course/#{name}") #{name}
          span --- #{description}
  else
    +loading

template(name='exerciseSetsForCourse')
  p #{courseName} --- #{courseDescription}
  h2 Select a variant
  if Template.subscriptionsReady 
    ul.collection
      each exerciseSets
        li.collection-item
          a(href="/course/#{courseName}/exerciseSet/#{variant}") #{variant}
          span --- #{description}
  else
    +loading
  

//- displays only the questions for a lecture or unit
template(name='listExercises')
  if Template.subscriptionsReady
    p #{courseName} --- #{courseDescription}
    h2 #{exerciseSetName}
  
    each lectures
      h4(id="#{htmlAnchor}") 
        a(href="#{exerciseSetLectureURL}") #{name}
      div(style="padding-left:2em;border-left:1px dotted black")
        p
          +slidesAndHandoutsLinks    
        each units
          h5(id="#{htmlAnchor}") 
            a(href="#{exerciseSetUnitURL}") #{name}
          if reading
            p Reading: #{reading}
          p 
            span [
            a(href="#{slides}", target="_blank") slides
            span ] 
          ul.collection
          each exercises
            li
              a(href="#{link}?variant=#{exerciseSetName}&courseName=#{courseName}&lectureName=#{../../name}&unitName=#{../name}") #{name}
              +Template.dynamic(template=displayQuestion)
  else
    +loading





template(name='slidesAndHandoutsLinks')
  if slides
    span [
    a(href="#{slides}", target="_blank") slides
    span ] 
  if handout
    span  [
    a(href="#{handout}", target="_blank") handout
    span ] 

template(name='slidesAndHandoutsLinksEditable')
  span [
  if slides
    a(href="#{slides}", target="_blank") slides
    a.editSlides.waves-effect 
      i.material-icons mode_edit
  else
    span add link to slides
    a.editSlides.waves-effect 
      i.material-icons add_circle_outline
  span ] 
  span  [
  if handout
    a(href="#{handout}", target="_blank") handout
    a.editHandout.waves-effect 
      i.material-icons mode_edit
  else
    span add link to handout
    a.editHandout.waves-effect 
      i.material-icons add_circle_outline
  span ] 



template(name='exerciseSet')
  if exerciseSetReady
    p #{courseName} --- #{courseDescription}
  
  
    h2 
      if isForTutee
        span #{tuteeName} &lsaquo;#{tuteeEmail}&rsaquo;
        br
      if paramsSpecifyLecture
        a(href="/course/#{courseName}/exerciseSet/#{exerciseSetName}") #{exerciseSetName}
      else
        span #{exerciseSetName}
    unless paramsSpecifyLecture
      p #{exerciseSetDescription}
  
  h4 Progress with 
    if paramsSpecifyUnit
      | #{unitName}
    if paramsSpecifyLecture
      if paramsSpecifyUnit
        each lectures
          span  (
          a(href="#{exerciseSetLectureURL}") #{lectureName}
          span )
      else
        span.lectureName #{lectureName} 
      if exerciseSetReady
        if isTutor
          each lectures
            a(href="#{listExercisesURL}") [list questions]
    else
      | all exercises
    
  if exerciseSetReady
    if paramsSpecifyLecture
      each lectures
        p
          +slidesAndHandoutsLinks    
    
  if Template.subscriptionsReady
    table.centered
      thead
        tr
          th Number submitted
          th correct
          th incorrect
          th ungraded
      tbody
        tr
          td all time
          td #{lectures.stats.submitted} of #{lectures.stats.nofExercises}
          td #{lectures.stats.correct}
          td #{lectures.stats.incorrect}
          td #{lectures.stats.ungraded}
        tr
          td last 7 days
          td #{lectures.stats.lastNDays.submitted} 
          td #{lectures.stats.lastNDays.correct}
          td #{lectures.stats.lastNDays.incorrect}
          td #{lectures.stats.lastNDays.ungraded}
  else
    +loading
  
  #progressChart
    
  if isForTutee
    .pass
  else
    if Template.subscriptionsReady
      if isAlreadyFollowing
        a#unfollow.btn.waves-effect.grey stop following ‘#{exerciseSetName}’
      else
        a#follow.btn.waves-effect.grey follow ‘#{exerciseSetName}’

  if Template.subscriptionsReady
    if exerciseSetReady
      if paramsSpecifyLecture  
        each lectures
          each units
            p.vspace &nbsp;
            h5(id="#{htmlAnchor}") 
              a(href="#{exerciseSetUnitURL}") #{name}
            if reading
              p Reading: #{reading}
            p 
              +slidesAndHandoutsLinks    
            //- div(style="padding-left:2em;border-left:1px dotted black")
            ul.collection
              each exercises
                li.collection-item
                  if exerciseIsCorrect
                    span.green-text ✔ 
                  if exerciseIsIncorrect
                    span.red-text ✘
                  if exerciseIsUngraded
                    span.orange.white-text(style="font-weight:bold;border-radius:16px;padding-left:3px;padding-right:2px;") ?
                  //- if isSubmitted
                  //-   span.pass
                  //- else
                  //-   span.black-text ✪
                  if isForTutee
                    a(href="#{gradeURL}?variant=#{exerciseSetName}&courseName=#{courseName}&lectureName=#{../../name}&unitName=#{../name}&user=#{tuteeId}") #{name}
                  else
                    a(href="#{link}?variant=#{exerciseSetName}&courseName=#{courseName}&lectureName=#{../../name}&unitName=#{../name}") #{name}
                  if isSubmitted
                    span.grey-text [submitted #{dateSubmitted}]
                  else
                    span.red-text [todo]
                  
      else
        p Select a lecture to view exercises:
        ul.collection
          each lectures
            li.collection-item(id="#{htmlAnchor}")
              a(href="#{exerciseSetLectureURL}") #{name} 
              span --- #{progress.todo} todo (of #{progress.total} in total)
              if progress.correct
                span , 
                span.green-text ✔#{progress.correct}
              if progress.incorrect
                span , 
                span.red-text ✘#{progress.incorrect}
              if progress.ungraded
                span , 
                span.orange.white-text(style="font-weight:bold;border-radius:16px;padding-left:3px;padding-right:2px;") ?#{progress.ungraded}

  else
    +loading


template(name='exerciseSetEdit')
  if Template.subscriptionsReady
    p #{courseName} --- #{courseDescription}
  
    h2 
      if paramsSpecifyLecture
        a(href="/course/#{courseName}/exerciseSet/#{exerciseSetName}/edit") #{exerciseSetName}
      else
        span #{exerciseSetName}
    if paramsSpecifyLecture
      span
    else
      p #{exerciseSetDescription}
        a.editExerciseSetDescription.waves-effect 
          i.material-icons mode_edit
    
    if exerciseSetReady
      h4 
        if paramsSpecifyUnit
          each lectures
            each units
              span.unitName(contentEditable="true") #{name}
              i.material-icons mode_edit
        if paramsSpecifyLecture
          if paramsSpecifyUnit
            each lectures
              span  (
              each units
                span §#{idx} of 
              a(href="#{exerciseSetLectureURL}") #{lectureName}
              span )
          else
            each lectures
              span.lectureName(contentEditable="true") #{name} 
              i.material-icons mode_edit
        else
          | all lectures
    
      if paramsSpecifyLecture
        each lectures
          unless paramsSpecifyUnit
            p
              +slidesAndHandoutsLinksEditable
    

      if paramsSpecifyLecture  
        each lectures
          each units
            p.vspace &nbsp;
            h5(id="#{htmlAnchor}") 
              if paramsSpecifyUnit
                #{name}
              else
                unless isFirst
                  a.moveUnitUp.waves-effect
                    i.material-icons arrow_upward
                else
                  i.material-icons.grey-text arrow_upward
                unless isLast
                  a.moveUnitDown.waves-effect 
                    i.material-icons arrow_downward
                else
                  i.material-icons.grey-text arrow_downward
                a.deleteUnit.waves-effect 
                  i.material-icons delete
                span(style="width:1em;") &nbsp;
                a(href="#{exerciseSetUnitURL}") #{name}
            p Reading: 
              if reading
                span #{reading}
              else
                span [none set]
              if paramsSpecifyUnit
                if reading
                  a.editReading.waves-effect 
                    i.material-icons mode_edit
                else
                  a.editReading.waves-effect 
                    i.material-icons add_circle_outline
                
            p 
              if paramsSpecifyUnit
                +slidesAndHandoutsLinksEditable
              else
                +slidesAndHandoutsLinks
            ul.collection
              each exercises
                li.collection-item
                  if paramsSpecifyUnit
                    unless isFirst
                      a.moveExerciseUp.waves-effect 
                        i.material-icons arrow_upward
                    else
                      i.material-icons.grey-text arrow_upward
                    unless isLast
                      a.moveExerciseDown.waves-effect 
                        i.material-icons arrow_downward
                    else
                      i.material-icons.grey-text arrow_downward
                    span #{idx}.
                  a(href="#{link}?variant=#{exerciseSetName}&courseName=#{courseName}&lectureName=#{../../name}&unitName=#{../name}") #{name}
                  if paramsSpecifyUnit
                    a.editExercise.waves-effect 
                      i.material-icons mode_edit
                  
                  
      else
        p Select a lecture to edit units and exercises:
        ul.collection
          each lectures
            li.collection-item(id="#{htmlAnchor}")
              a.deleteLecture.waves-effect 
                i.material-icons delete
              unless isFirst
                a.moveLectureUp.waves-effect
                  i.material-icons arrow_upward
              else
                i.material-icons.grey-text arrow_upward
              unless isLast
                a.moveLectureDown.waves-effect 
                  i.material-icons arrow_downward
              else
                i.material-icons.grey-text arrow_downward
              span(style="width:1em;") &nbsp;
              a(href="#{exerciseSetLectureURL}") #{name} 

  else
    +loading
