template(name='exerciseSets')
  section: .container
    h2 Select an exercise set
    ul.collection
      each institutions
        li.collection-item
          a(href="{{pathFor 'exerciseSets'}}/#{_id}") #{name}
          span --- #{description}

template(name='exerciseSetVariants')
  section: .container
    p #{setName} --- #{setDescription}
    h2 Select a variant
    ul.collection
      each variants
        li.collection-item
          a(href="#{url}/#{name}") #{name}
          span --- #{description}
  

template(name='listExercises')
  section: .container
    p #{exerciseSetName} --- #{exerciseSetDescription}
    
    h2 #{variantName}
    //- TODO: remove button if subscribed.
    button#subscribe.btn.waves-effect.grey subscribe
  
    each lectures
      h4 #{lecture}
      each units
        h5 #{unit}
        ul.collection
        each exercises
          li
            a(href="#{link}") #{link}
            if isSubmitted
              span [submitted #{dateSubmitted}]
            else
              span [todo]
          
