template(name='courses')
  h2 Select a course
  ul.collection
    each courses
      li.collection-item
        a(href="/course/#{name}") #{name}
        span --- #{description}

template(name='exerciseSetsForCourse')
  p #{courseName} --- #{courseDescription}
  h2 Select a variant
  ul.collection
    each exerciseSets
      li.collection-item
        a(href="/course/#{courseName}/exercise-set/#{variant}") #{variant}
        span --- #{description}
  

template(name='exerciseSet')
  p #{courseName} --- #{courseDescription}
  
  
  h2 
    if isForTutee
      span #{tuteeName} &lsaquo;#{tuteeEmail}&rsaquo;
      br
    span #{exerciseSetName}
  p #{exerciseSetDescription}
  if isForTutee
    .pass
  else
    if isAlreadyFollowing
      a#unfollow.btn.waves-effect.grey stop following ‘#{exerciseSetName}’
    else
      a#follow.btn.waves-effect.grey follow ‘#{exerciseSetName}’

  each lectures
    h4 #{name}
    p
      span [
      a(href="#{slides}", target="_blank") slides
      span ] [
      a(href="#{handout}", target="_blank") handout
      span ] 
    each units
      h5 #{name}
      if reading
        p Reading: #{reading}
      p 
        span [
        a(href="#{slides}", target="_blank") slides
        span ] 
      ul.collection
      each exercises
        li
          if isForTutee
            a(href="#{gradeURL}?variant=#{exerciseSetName}&courseName=#{courseName}&user=#{tuteeId}") #{name}
          else
            a(href="#{link}?variant=#{exerciseSetName}&courseName=#{courseName}") #{name}
          if exerciseIsCorrect
            span.green-text ✔ 
          if exerciseIsIncorrect
            span.red-text ✘
          if exerciseIsUngraded
            span.orange.white-text(style="font-weight:bold;border-radius:16px;padding-left:3px;padding-right:2px;") ?
          if isSubmitted
            span.grey-text [submitted #{dateSubmitted}]
          else
            span.red-text [todo]

