template(name='courses')
  h2 Select a course
  if Template.subscriptionsReady 
    ul.collection
      each courses
        li.collection-item
          a(href="/course/#{name}") #{name}
          span --- #{description}
  else
    +loading

template(name='exerciseSetsForCourse')
  p #{courseName} --- #{courseDescription}
  h2 Select a variant
  if Template.subscriptionsReady 
    ul.collection
      each exerciseSets
        li.collection-item
          a(href="/course/#{courseName}/exerciseSet/#{variant}") #{variant}
          span --- #{description}
  else
    +loading
  

//- displays only the questions for a lecture or unit
template(name='listExercises')
  if Template.subscriptionsReady
    p #{courseName} --- #{courseDescription}
    h2 #{exerciseSetName}
  
    each lectures
      h4(id="#{htmlAnchor}") 
        a(href="#{exerciseSetLectureURL}") #{name}
      div(style="padding-left:2em;border-left:1px dotted black")
        p
          span [
          a(href="#{slides}", target="_blank") slides
          span ] [
          a(href="#{handout}", target="_blank") handout
          span ] 
        each units
          h5(id="#{htmlAnchor}") 
            a(href="#{exerciseSetUnitURL}") #{name}
          if reading
            p Reading: #{reading}
          p 
            span [
            a(href="#{slides}", target="_blank") slides
            span ] 
          ul.collection
          each exercises
            li
              a(href="#{link}?variant=#{exerciseSetName}&courseName=#{courseName}&lectureName=#{../../name}&unitName=#{../name}") #{name}
              +Template.dynamic(template=displayQuestion)
  else
    +loading


template(name='exerciseSet')
  p #{courseName} --- #{courseDescription}
  
  
  h2 
    if isForTutee
      span #{tuteeName} &lsaquo;#{tuteeEmail}&rsaquo;
      br
    span #{exerciseSetName}
  p #{exerciseSetDescription}
  
  h4 Progress with 
      if paramsSpecifyUnit
        | the unit ‘#{unitName}’ of
      if paramsSpecifyLecture
        | #{lectureName} 
        if exerciseSetReady
          if isTutor
            each lectures
              a(href="#{listExercisesURL}") [list questions]
      else
        | all exercises
    
  if exerciseSetReady
    if paramsSpecifyLecture
      each lectures
        p
          span [
          a(href="#{slides}", target="_blank") slides
          span ] [
          a(href="#{handout}", target="_blank") handout
          span ] 
    
    
  if Template.subscriptionsReady
    table.centered
      thead
        tr
          th Number submitted
          th correct
          th incorrect
          th ungraded
      tbody
        tr
          td #{lectures.stats.submitted} of #{lectures.stats.nofExercises}
          td #{lectures.stats.correct}
          td #{lectures.stats.incorrect}
          td #{lectures.stats.ungraded}
  else
    +loading
  
  #progressChart
    
  if isForTutee
    .pass
  else
    if Template.subscriptionsReady
      if isAlreadyFollowing
        a#unfollow.btn.waves-effect.grey stop following ‘#{exerciseSetName}’
      else
        a#follow.btn.waves-effect.grey follow ‘#{exerciseSetName}’

  if Template.subscriptionsReady
    if exerciseSetReady
      if paramsSpecifyLecture  
        each lectures
          each units
            p.vspace &nbsp;
            h5(id="#{htmlAnchor}") 
              a(href="#{exerciseSetUnitURL}") #{name}
            if reading
              p Reading: #{reading}
            p 
              span [
              a(href="#{slides}", target="_blank") slides
              span ] 
            //- div(style="padding-left:2em;border-left:1px dotted black")
            ul.collection
              each exercises
                li.collection-item
                  if exerciseIsCorrect
                    span.green-text ✔ 
                  if exerciseIsIncorrect
                    span.red-text ✘
                  if exerciseIsUngraded
                    span.orange.white-text(style="font-weight:bold;border-radius:16px;padding-left:3px;padding-right:2px;") ?
                  //- if isSubmitted
                  //-   span.pass
                  //- else
                  //-   span.black-text ✪
                  if isForTutee
                    a(href="#{gradeURL}?variant=#{exerciseSetName}&courseName=#{courseName}&lectureName=#{../../name}&unitName=#{../name}&user=#{tuteeId}") #{name}
                  else
                    a(href="#{link}?variant=#{exerciseSetName}&courseName=#{courseName}&lectureName=#{../../name}&unitName=#{../name}") #{name}
                  if isSubmitted
                    span.grey-text [submitted #{dateSubmitted}]
                  else
                    span.red-text [todo]
                  
      else
        p Select a lecture or section to view exercises:
        ul.collection
          each lectures
            li.collection-item(id="#{htmlAnchor}")
              a(href="#{exerciseSetLectureURL}") #{name} 
              span --- #{progress.todo} todo (of #{progress.total} in total)
              if progress.correct
                span , 
                span.green-text ✔#{progress.correct}
              if progress.incorrect
                span , 
                span.red-text ✘#{progress.incorrect}
              if progress.ungraded
                span , 
                span.orange.white-text(style="font-weight:bold;border-radius:16px;padding-left:3px;padding-right:2px;") ?#{progress.ungraded}

  else
    +loading
