template(name='courses')
  section: .container
    h2 Select a course
    ul.collection
      each courses
        li.collection-item
          a(href="/course/#{name}") #{name}
          span --- #{description}

template(name='exerciseSetsForCourse')
  section: .container
    p #{courseName} --- #{courseDescription}
    h2 Select a variant
    ul.collection
      each exerciseSets
        li.collection-item
          a(href="#{url}/exercise-set/#{variant}") #{variant}
          span --- #{description}
  

template(name='exerciseSet')
  section: .container
    p #{courseName} --- #{courseDescription}
    
    h2 #{exerciseSetName}
    //- TODO: remove button if subscribed.
    button#subscribe.btn.waves-effect.grey subscribe
  
  
  

    each lectures
      h4 #{lecture}
      each units
        h5 #{unit}
        ul.collection
        each exercises
          li
            a(href="#{link}") #{name}
            if isSubmitted
              span [submitted #{dateSubmitted}]
            else
              span [todo]
          
