

template(name='main')
  if hasSubscriptions
    h3 Exercises
    ul.collection
    each subscriptions
      li.collection-item
        a(href="/course/#{courseName}/exercise-set/#{variant}") The ‘#{variant}’ exercises for #{courseName}
    
    .row: .col.s12
      .right
        a.btn.waves-effect.grey.darken-1(href="/courses") 
          | Follow another exercise set

    .divider
    

  .row
    if hasNewHelpRequestAnswers
      .col.s12.m6.l4
        .card
          .card-content
            span.card-title.black-text Help Request
            p Your request for help with an exercise has been answered.
            .card-action: .right
              a.waves-effect.blue-text See answer
  
    if hasNewGrades
      .col.s12.m6.l4
        .card
          .card-content
            span.card-title.black-text Grades 
            p Some of your work has been graded.
            .card-action: .right
              a(href="#{nextUnseenFeedbackLink}").waves-effect.blue-text See grades
  
    .col.s12.m6.l4
      .card
        .card-content
          span.card-title.black-text Seminar tutor
          if hasSeminarTutor
            p #{seminarTutor} is your seminar tutor and will review the exercises you submit.
          else
            p You have not assigned yourself to a seminar tutor; no one will review your work.
          .card-action: .right
            if hasSeminarTutor
              a.waves-effect.blue-text Change tutor
            else
              a.waves-effect.blue-text Add tutor
    .col.s12.m6.l4
      .card
        .card-content
          span.card-title.black-text Email 
          p Your email address is #{emailAddress}.  If this is not your university or college email address, your progress may not be recorded.
          .card-action: .right
            a.waves-effect.blue-text Change email 
    .col.s12.m6.l4
      .card
        .card-content
          span.card-title.black-text Backup 
          p Please print or otherwise store a copy of the work you have submitted in case this service fails.
          .card-action: .right
            a(href='/mySubmittedExercises').waves-effect.blue-text View work
    if hasNoSubscriptions
      .col.s12.m6.l4
        .card
          .card-content
            span.card-title.black-text Exercises
            p You can follow one or more exercise sets.
            .card-action: .right
              a.waves-effect.blue-text(href="/courses")  Select an exercise set

  
