
template(name='display_subscription')
  a(href="/course/#{courseName}/exerciseSet/#{variant}?#{userQueryParam}") The ‘#{variant}’ exercises for #{courseName}

template(name='main')
  
  if hasSubscriptions
    h3 Exercises
    if isLastExercise
      p
        a#resume-last-exercise.btn.waves-effect.grey.darken-1
          | Resume from last exercise
    
    ul.collection
      each subscriptions
        li.collection-item
          +display_subscription 
    
    .row: .col.s12
      .right
        a.btn.waves-effect.grey.darken-1(href="/courses") 
          | Follow another exercise set

    .divider
    

  if isTutor
    h3 Links for tutors
    ul.collection
      li.collection-item: a(href="/exercisesToGrade") Exercises to grade
      li.collection-item: a(href="/helpRequestsToAnswer") Help requests to answer [#{nofHelpRequestsForTutor}]
      li.collection-item: a(href="/myTutees") List of tutees
      li.collection-item: a(href="/myTuteesProgress") Tutees’ progress
      li.collection-item: a(href="/upsertExerciseSet") Add or update an exercise set.

  if isInstructor
    h3 Links for instructors
    ul.collection
      li.collection-item: a(href="/myTutors") List of tutors on your course(s)

  .row
    if hasNoSubscriptions
      .col.s12.m6.l4
        .card
          .card-content
            span.card-title.black-text Exercises
            p Follow one or more exercise sets.
            .card-action: .right
              a.waves-effect.blue-text(href="/courses")  Select an exercise set

    if hasNewHelpRequestAnswers
      .col.s12.m6.l4
        .card
          .card-content
            span.card-title.black-text Help Request
            p Your request for help with an exercise has been answered.
            .card-action: .right
              a.waves-effect.blue-text(href="#{nextHelpRequestAnswerLink}") See answer
  
    if hasNewGrades
      .col.s12.m6.l4
        .card
          .card-content
            span.card-title.black-text Grades 
            p Some of your work has been graded.
            .card-action: .right
              a(href="/feedbackToReview").waves-effect.blue-text See feedback
  
    //- instructor card
    if isTutor
      .col.s12.m6.l4
        .card
          .card-content
            span.card-title.black-text Instructor
            if hasInstructor
              p #{instructor} is the instructor (who usually gives lectures and has overall responsibility for the course you teach on).
            else
              p You have not specified the instructor of your tutees (who usually gives lectures and has overall responsibility for the course you teach on).
            .card-action: .right
              if hasInstructor
                a.changeInstructor.waves-effect.blue-text(data-target="instructor-modal") Change instructor
              else
                a.changeInstructor.waves-effect.blue-text(data-target="instructor-modal") Add instructor
          
          
              #instructor-modal.modal
                .modal-content
                  h4  Instructor
                  form
                    p 
                    .input-field
                      input.instructor#set-instructor-email(type="text", value="#{instructorEmail}") 
                      label(for='set-instructor-email') Enter the email address your instructor has asked you to use.
                    p
                      em Note that your instructor may not be registered under all her email addresses; if in doubt, please ask your instructor to confirm her email address.
                .modal-footer
                  a(href="").modal-action.modal-close.waves-effect.waves-grey.btn-flat cancel
                  a(href="")#confirm-set-instructor-email.modal-action.modal-close.waves-effect.waves-grey.btn-flat update

    //- Tutor card
    .col.s12.m6.l4
      .card
        .card-content
          span.card-title.black-text Tutor
          if hasSeminarTutor
            p #{seminarTutor} is your tutor and will review the exercises you submit.
          else
            p You have not assigned yourself to a tutor; no one will review your work.
          .card-action: .right
            if hasSeminarTutor
              a.changeSeminarTutor.waves-effect.blue-text(data-target="seminar-tutor-modal") Change tutor
            else
              a.changeSeminarTutor.waves-effect.blue-text(data-target="seminar-tutor-modal") Add tutor
          
          
            #seminar-tutor-modal.modal
              .modal-content
                h4  Tutor
                form
                  p Specify the email address your seminar tutor has asked you to use.
                  .input-field
                    input.seminarTutor.tutorTypeahead#seminarTutorTypeahead(type="text", value="#{seminarTutorEmail}", autocomplete="off", style="margin-bottom:0;") 
                    //- label(for='seminarTutorTypeahead') Enter the email address your seminar tutor has asked you to use.
                    .autocomplete-content.grey.darken(style='margin-top:0;')
                      ul(style="-webkit-margin-before:0;margin-before:0")
                        each getTutors
                          li.autocomplete-option(style="padding:.25em 1em .25em 1em;"): a.setThisTutor(style="text-transform:none;")
                            each emails
                              span.email #{address}
                            span - 
                            span #{profile.name}
                    p
                    em Note that your seminar tutor may not be registered under all her email addresses; if in doubt, please ask your seminar tutor to confirm her email address.
              .modal-footer
                a(href="").modal-action.modal-close.waves-effect.waves-grey.btn-flat cancel
                a(href="")#confirm-set-seminar-tutor-email.modal-action.modal-close.waves-effect.waves-grey.btn-flat update
      
          
    .col.s12.m6.l4
      .card
        .card-content
          span.card-title.black-text Email 
          p Your email address is #{emailAddress}.  
            span (If this isn’t your university or college email address, your university won’t see your work.)
          .card-action: .right
            a.changeEmail.waves-effect.blue-text Change email 

            
            #change-email-modal.modal
              .modal-content
                h4 Change Email
                form
                  p 
                  .input-field
                    textarea.newEmailAddress.materialize-textarea#set-email #{emailAddress}
                    label(for='set-email') Your email address.
                  p
                    em Please use your university or college email address if you are studying logic as part of a degree course (your university won’t see your work if you don’t).
              .modal-footer
                a(href="").modal-action.modal-close.waves-effect.waves-grey.btn-flat cancel
                a(href="")#confirm-update-email.modal-action.modal-close.waves-effect.waves-grey.btn-flat update
                        
                                                
    .col.s12.m6.l4
      .card
        .card-content
          span.card-title.black-text Backup 
          p Please print or otherwise store a copy of the work you have submitted in case this service fails.
          .card-action: .right
            a(href='/mySubmittedExercises').waves-effect.blue-text View work

    .col.s12.m6.l4
      .card
        .card-content
          span.card-title.black-text Guides
          p Get help using zoxiy.
          .card-action: .right
            a(href='http://logic-1.butterfill.com/logic-ex-guide.html', target="_blank").waves-effect.blue-text open guides

  
