template(name='myTutees')
  if forSelf
    h2 My Tutees
    p The following currently list you as their seminar tutor:
  else
    h2 Tutees of #{tutorName}  &lt;#{tutorEmail}&gt;
    p The following currently list #{tutorName} as their seminar tutor:
    
  .tuteeList
    each tutees
      h5.tuteeName #{profile.name} &lt;#{email}&gt;
      
      p Following these exercise sets:
      ul.collection.subscriptionsForTutee
        each subscriptions
          li.collection-item.subscriptionForTutee
            //- the `display_subscription` template is defined is defined in main.html.jade
            +display_subscription courseName=courseName variant=variant userQueryParam=userQueryParam
