template(name='myTuteesProgress')
  h2 My Tutees’ Progress
  p #{nofTutees} tutees.
  p Mean  (all time): #{meanNumberSubmitted} exercises submitted
    span (#{percentCorrect}% correct, #{percentIncorrect}% incorrect, #{percentUngraded}% ungraded)
  p Mean (last 7 days): #{meanNumberSubmitted7days} exercises submitted
    span (#{percentCorrect7Days}% correct, #{percentIncorrect7Days}% incorrect, #{percentUngraded7Days}% ungraded)
  each tutees
    h3 #{profile.name} &lt;#{email}&gt;
    if Template.subscriptionsReady
      p Following these exercise sets:
      ul.collection
        each subscriptions
          li.collection-item 
            //- the `display_subscription` template is defined is defined in main.html.jade
            +display_subscription courseName=courseName variant=variant userQueryParam=userQueryParam
            
      p Exercises submitted (all time): #{number_submitted}
        span (#{percentCorrect}% correct, #{percentIncorrect}% incorrect, #{percentUngraded}% ungraded)
      p Exercises submitted (last 7 days): #{number_submitted_7days}
        span (#{percentCorrect7Days}% correct, #{percentIncorrect7Days}% incorrect, #{percentUngraded7Days}% ungraded)
      
      ul.collapsible.popout
        if percentCorrect7Days
          li
            .collapsible-header 
              i.material-icons list
              | #{profile.name}’s correct answers from the last 7 days
            .collapsible-body
              ul.collection
                each correct7Days
                  li.collection-item 
                    a(href="#{gradeURL}") #{exerciseLink}
        if percentIncorrect7Days
          li
            .collapsible-header 
              i.material-icons list
              | #{profile.name}’s incorrect answers from the last 7 days
            .collapsible-body
              ul.collection
                each incorrect7Days
                  li.collection-item 
                    a(href="#{gradeURL}") #{exerciseLink}
        if percentUngraded7Days
          li
            .collapsible-header 
              i.material-icons list
              | #{profile.name}’s ungraded answers from the last 7 days
            .collapsible-body
              ul.collection
                each ungraded7Days
                  li.collection-item 
                    a(href="#{gradeURL}") #{exerciseLink}
    else
      p.orange-text Loading ...

