template(name='counter_ex')
  +topic_header

  //- Here we use a template from /create exercises
  +create_ex_display_question

  h4 ... by creating a possible situation.


  h3 Your answer:
  
  if exSubtypeIsValid
    +TorF_questions sentences=sentences
  if exSubtypeIsInconsistent
    +TorF_questions sentences=sentences
  
  if displayCreateCounterexample
    .row
      .col.s4
        h4 domain
        ul.collection
          li.collection-item
            p 
              span.domain #{getDomain}
              i.right.material-icons.addToDomain add_circle_outline
              i.right.material-icons.removeFromDomain remove_circle_outline
        h4 names
        ul.names.collection
          each namesToAssign
            li.name.collection-item
              .input-field
                input( name="name-#{this}", value="#{getNameReferent}" type="text")
                label(for="name-#{this}") #{this} :
                
      .col.s8
        h4 predicates
        ul.predicates.collection
          each predicatesToAssign
            li.predicate.collection-item
              .input-field
                input( name="predicate-#{this}", value="#{getPredicateExtension}" type="text")
                label(for="predicate-#{this}") #{this} :

  +submitted_answer

  +help_with_this_exercise

  .right
    +ask_for_help
    +submit_btn
        
  +next_exercise


template(name="counter_ex_display_answer")
  if exSubtypeIsValid
    ul.collection
      each sentences
        li.collection-item 
          span.theSentence #{theSentence}
          span.right #{value}
    
  if exSubtypeIsInconsistent
    ul.collection
      each sentences
        li.collection-item 
          span.theSentence #{theSentence}
          span.right #{value}
          
  if displayCreateCounterexample
    p [todo!]
    //- +possible_world_static
    
    