template(name='create_ex')
  +topic_header

  +create_ex_display_question

  h4 ... by creating a possible situation.

  if exSubtypeIsValid
    +TorF_questions sentences=sentences
  if exSubtypeIsInconsistent
    +TorF_questions sentences=sentences
  
  if displayCreateWorld
    +possible_world

  +submitted_answer

  +help_with_this_exercise

  .right
    +ask_for_help
    +submit_btn
        
  +next_exercise

template(name="create_ex_display_question")
  if isSentences
    h4
      if exSubtypeIsInconsistent
        span Unless they are logically inconsistent, make
      else
        span Make
      span these sentences true ...
    ul.collection
      each sentences
        li.collection-item 
          span #{theSentence}
          span ---
          span.sentenceIsTrue.red-text

  if isArgument
    h4
      if exSubtypeIsValid
        span Unless it is logically valid, give
      else
        span Give
      span a counterexample to this argument:
    .row: .col.s11.offset-s1
      +display_argument
    

template(name="create_ex_display_answer")
  if exSubtypeIsValid
    ul.collection
      each sentences
        li.collection-item 
          span.theSentence #{theSentence}
          span.right #{value}
    
  if exSubtypeIsInconsistent
    ul.collection
      each sentences
        li.collection-item 
          span.theSentence #{theSentence}
          span.right #{value}
          
  if displayCreateWorld
    +possible_world_static
    
    