template(name='proof_ex')

  //- Display something like ‘Topic: Rules of Proof for Identity --- normal exercises for UK_W20_PH126’
  +topic_header
  
  +proof_ex_display_question
  
  if Template.subscriptionsReady 
    | {{> CodeMirror id="editor"  name="editor" options=editorOptions editorCode=editorContent reactiveVar="codeMirrorContent" getEditorObj=getEditorObj}}
  else
    p loading ...
    
  p#feedback .
    i.material-icons error_outline

  +submitted_answer

  +help_with_this_exercise

  .left
    button#reset.btn.modal-trigger.waves-effect.grey(data-target="reset_modal") reset
    #reset_modal.modal
      .modal-content
        h4 Reset your work on this proof?
        p You really want to start again?
      .modal-footer
        a(href="")#reset-confirm.modal-action.modal-close.waves-effect.waves-grey.btn-flat yes, reset
        a(href="").reset-abort.modal-action.modal-close.waves-effect.waves-grey.btn-flat no!
        
  
  .right
    button#checkProof.btn.waves-effect.grey check all
    +ask_for_help
    +submit_btn
        
  +next_exercise

template(name="proof_ex_display_question")
  h2 Write a proof
  
  .row
    .col.s6
      h4 premises (#{premises.length}) 
      if hasPremises
        ul.collection
          each premises
            li.collection-item #{this}
      else
        ul.collection
          li.collection-item [No premises]
      
    .col.s6
      h4 conclusion
      ul.collection
        li.collection-item #{conclusion}


template(name="proof_ex_display_answer")
  p.monospace.grey.lighten-2 
    each answerLines
      .grey.lighten-2(style='padding-left:2px;padding-right:2px;margin-bottom:-4px;') #{line}
    