template(name='proof_ex')
  //- Display something like ‘Topic: Rules of Proof for Identity --- normal exercises for UK_W20_PH126’
  +topic_header

  +proof_ex_display_question

  h4 Your answer:
  if exSubtypeIsOrInvalid
    +TorF_questions sentences=sentences

  if displayProofEditor
    +editProof editorId="proofEditor"

  +submitted_answer

  +help_with_this_exercise

  .right
    +ask_for_help
    +submit_btn
        
  +next_exercise

template(name="proof_ex_display_question")
  h2 Write a proof
    if exSubtypeIsOrInvalid
      span unless the argument is invalid
  
  .row
    .col.s6
      h4 premises (#{premises.length}) 
      if hasPremises
        ul.collection
          each premises
            li.collection-item #{this}
      else
        ul.collection
          li.collection-item [No premises]
      
    .col.s6
      h4 conclusion
      ul.collection
        li.collection-item #{conclusion}


template(name="proof_ex_display_answer")
  if displayProof
    p.monospace.grey.lighten-2(style="white-space:pre") 
      each answerLines
        .grey.lighten-2(style='padding-left:2px;padding-right:2px;margin-bottom:-4px;') #{lineNumber} #{line}
    
  if exSubtypeIsOrInvalid
    ul.collection
      each sentences
        li.collection-item 
          span.theSentence #{theSentence}
          span.right #{value}
  