// e.g.: http://localhost:3000/ex/trans/domain/5things/names/a=thing1%7Cb=thing2/predicates/Fish1%7CPerson2%7CRed1/sentence/At%20least%20two%20people%20are%20not%20fish
// e.g.: http://localhost:3000/ex/trans/domain/5things/names/a=thing1%7Cb=thing2/predicates/Fish1%7CPerson2%7CRed1/sentence/exists(x) exists(y) (Person(x) and Person(y) and not Fish(x) and not Fish(y) and not x=y)

template(name="trans_ex")

  +trans_ex_display_question

  +editSentence editorId="awFOLeditor" sentenceIsAwFOL=sentenceIsAwFOL

  +submitted_answer  

  +help_with_this_exercise

  .row: .col.s12
    .right
      +ask_for_help
      +submit_btn
  
  +next_exercise

                
template(name="trans_ex_display_question")
  if isTranslateToEn
    h2 Translate awFOL to English
  else
    h2 Translate English to awFOL
  .row
    .col.s6
      h4 domain
      ul.collection
        li.collection-item 
          each domain
            span #{this}, 
        
      h4 names
      ul.collection
        each names
          li.collection-item #{this}
    .col.s6
      h4 predicates
      ul.collection
        each predicates
          li.collection-item #{this.description}
  .row
    .col.s12
      h4 sentence
      ul.collection
        li.collection-item #{sentence}
  


template(name="trans_ex_display_answer")
  p.monospace.grey.lighten-2 
    if answer.answerFOL
      | #{answer.answerFOL}
    else
      | #{answer.content}
    

