// e.g.: http://localhost:3000/ex/trans/domain/5things/names/a=thing1%7Cb=thing2/predicates/Fish1%7CPerson2%7CRed1/sentence/At%20least%20two%20people%20are%20not%20fish
// e.g.: http://localhost:3000/ex/trans/domain/5things/names/a=thing1%7Cb=thing2/predicates/Fish1%7CPerson2%7CRed1/sentence/exists(x) exists(y) (Person(x) and Person(y) and not Fish(x) and not Fish(y) and not x=y)

template(name="trans_ex")
  +topic_header
  
  +trans_ex_display_question

  +editSentence editorId="awFOLeditor" sentenceIsAwFOL=sentenceIsAwFOL

  +submitted_answer  

  +help_with_this_exercise

  .row: .col.s12
    .right
      +ask_for_help
      +submit_btn
  
  +next_exercise

                
template(name="trans_ex_display_question")
  if isTranslationToEn
    h4 Translate #{predLanguageName} to English
  else
    h4 Translate English to #{predLanguageName}
  .row
    .col.s6
      p domain:
      ul.collection
        li.collection-item #{domain}
      
      p names:
      ul.collection
        if isNames
          each names
            li.collection-item #{this}
        else
          li.collection-item [no names]
    .col.s6
      p predicates:
      ul.collection
        if isPredicates
          each predicates
            li.collection-item #{this.description}
        else
          li.collection-item [no predicates]
  .row
    .col.s12
      p sentence:
      ul.collection
        li.collection-item #{sentence}
  


template(name="trans_ex_display_answer")
  if dialect
    p Dialect: #{dialect}
  p.monospace.grey.lighten-2 
    if answerFOL
      | #{answerFOL}
    else
      | #{answer.content.sentence}
    

