template(name='tt_ex')
  +topic_header

  +tt_ex_display_question
  
  
  h5 Your truth table:
  +truth_table

  if isAskQuestions
    h5 Answer these questions:
    +TorF_questions sentences=sentences 

  +submitted_answer

  +help_with_this_exercise

  .right
    +ask_for_help
    +submit_btn
        
  +next_exercise

template(name="tt_ex_display_question")

  if isSentences
    h4 Construct truth tables for these sentences
    ul.collection
      each sentences
        li.collection-item 
          span.theSentence #{idx}. #{theSentence}
  
  if isArgument
    h4 Construct truth tables for this argument
    //- .row: .col.s11.offset-s1
    +display_argument
  


template(name="tt_ex_display_answer")
  +truth_table_static
  if isAskQuestions
    ul.collection
      each sentences
        li.collection-item 
          span.theSentence #{theSentence}
          span.right #{value}
  